.MuiCardHeader-root {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.MuiCardHeader-avatar {
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
}

.MuiCardHeader-subheader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.MuiCard-root {
  box-shadow: none !important;
}

.MuiCardContent-root {
  display: flex;
  flex-direction: column;
}
